html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
}

table thead th {
  word-break: break-all;
}

table tbody tr td {
  max-width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.primary-button {
  background-color: #1762e4 !important;
  padding: 5px 10px !important;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
  border-radius: 2px;
}

.primary-button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #1762e4da !important;
  transition: ease 0.2s;
}

#zmmtg-root {
  display: none;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

legend {
  width: auto;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border: none;
  font-size: 1em;
}

details {
  margin-top: 8px;
  margin-bottom: 8px;
}